.formation {
  padding: 40px;
  display: grid;
  place-items: 20px;
  background-color: #eaf2fd;
}

.formation>h1 {
  font-size: 3rem;
  text-align: center;
}

.formation>ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.formation>ul>li>div {
  height: 120px;
  display: grid;
  place-items: center;
  margin-bottom: 8px;
}

.formation>ul>li>div>img {
  height: inherit;
}

.formation>ul>li>h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

.formation>ul>li>p {
  text-align: center;
}

@media (min-width:768px) {
  .formation>ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .formation>ul>li>p {
    font-size: 1.5rem;
  }
}