nav {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

nav>div:nth-child(1) {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 2rem;
}

nav>div:nth-child(2) {
  display: flex;
  gap: 16px;
  align-items: center;
}

nav>div:nth-child(2)>.nav_lista {
  display: none;
  gap: 16px;
  align-items: center;
}

nav>div:nth-child(2)>.nav_lista>li {
  color: inherit;
  font-size: 2rem;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 300ms;
}

nav>div:nth-child(2)>.nav_lista>li:hover {
  color: white;
  background-color: slategray;
}

nav>div>.email {
  font-weight: 600;
  font-size: 2rem;
}

@media (min-width:1024px) {
  nav {
    padding: 20px 0;
    justify-content: space-around;
  }

  nav>div:nth-child(2)>.nav_lista {
    display: flex;
  }
}