.skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.skills>li>a>div {
  width: 100%;
  background-color: white;
  display: flex;
  gap: 8px;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
}

.skills>li>a>div>img {
  margin: 0 auto;
  width: 100%;
  max-width: 150px;
}

.skills>li>a>div>span {
  text-align: center;
  font-size: 1.5rem;
}

@media (min-width:768px) {
  .skills {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width:1024px) {
  .skills {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}